@import url('https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,600,600i');


html {
  font-family: 'Poppins', 'Helvetica', sans-sarif;
  font-weight: 300;
  letter-spacing: 2px;
  color: #333;
  background-color: #E5E5E5;
}

body {
  background-color: #E5E5E5;
  width: 60%;
  margin: 50px auto;
}

hr {

}

/*   SECTIONS BASE  */

.section-div {
  position: relative;
  min-height: 290px;
  margin-bottom: 50px;
}

.corner-cutout {
  background-color: #E5E5E5;
  border-radius: 5px;
  position: absolute;
  height: 45px;
  width:  6%;
  z-index: 100;
}

.upper-left-corner-cutout {
  top: 0;
  left: 0;
  box-shadow: inset -1px -1px 0 rgba(0, 0, 0, 0.2)
}
.upper-right-corner-cutout {
  top: 0;
  right: 0;
  box-shadow: inset 1px -1px 0 rgba(0, 0, 0, 0.2)
}
.bottom-left-corner-cutout {
  bottom: 0;
  left: 0;
  box-shadow: inset -1px 1px 0 rgba(0, 0, 0, 0.2)
}
.bottom-right-corner-cutout {
  bottom: 0;
  right: 0;
  box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.2)
}

.section-part {
  position: absolute;
  z-index: 50;
  border-radius: 5px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
}

.section-top-part {
  width: 88%;
  margin: 0 6%;
  min-height: 45px;
  background-color: white;
  box-shadow: 0 16px 0 -15px rgba(0, 0, 0, 0.2),
              0 -1px 0 rgba(0, 0, 0, 0.2);
}

.section-bottom-part {
  z-index: 100;
  bottom: 0;
  width: 88%;
  margin: 0 6%;
  min-height: 45px;
  background-color: white;
  box-shadow: 0 -16px 0 -15px rgba(0, 0, 0, 0.2),
              0 1px 0 rgba(0, 0, 0, 0.2);
}

.section-middle-part {
  z-index: 1;
  top: 45px;
  width: 100%;
  min-height: 200px;
  background-color: white;
}

.section-content-block {
  z-index: 1;
  padding: 43px 0 0 0;
  position: absolute;
  background-color: white;
  width: 96%;
  margin: 22px 2%;
  min-height: 203px;
}


/*  HEADER   */
#name-header {
  margin: 0;
  padding: 0;
  text-align: center;
  font-weight: 400;
}

.subheader {
  font-style: italic;
  font-weight: 300;
  margin: 0;
}

.header-self-portrait-td {
}

.header-intro-td {
  padding: 0 0 0 25px;
  vertical-align: top;
}

.icon-link-table {
  width: 70%;
  margin-left: 15%;
}

.icon-link-table td {
  text-align: center;
  font-size: 2em;
}

.icon-link-table a {
  color: #333 !important;
}

/*  FAVORITE FILMS   */

#category-header {
  margin: 0;
  padding: 0;
  text-align: center;
  font-weight: 400;
  font-size: 2em;
}

#favorite-films {
  min-height: 670px;
}

#film-content-block {
  min-height: 583px;
}

#film-middle-part {
  min-height: 580px;
}

/*  CATS   */
#cats {
  min-height: 670px;
}

#cats-content-block {
  min-height: 583px;
}

#cats-middle-part {
  min-height: 580px;
}

/*  GOALS   */



/*  FOOTER   */
